html,
body,
ul,
li,
h3 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 微软雅黑;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: none;
}
html,
body {
  background: #F4EAD5;
}
/* 头部开始*/
header {
  height: 0.9rem;
  width: 100%;
  background: #252424;
}
header #left {
  display: block;
  height: 0.7rem;
  width: 0.7rem;
  margin-top: 0.1rem;
  float: left;
  margin-left: 0.15rem;
  border-radius: 50%;
  position: relative;
}
header #left img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
header div {
  text-align: center;
  height: 0.7rem;
  margin: 0 auto;
  width: 2rem;
  font-size: 16px;
  color: #A8D655;
}
header div b {
  display: block;
  width: 100%;
  font-size: 14px;
  padding-top: 0.1rem;
  
  margin: 0;
}
header div span {
  display: block;
  font-size: 12px;
  margin: 0;
}
/* 头部结束*/
#section {
  height: 0.9rem;
  width: 100%;
}
#section .top {
  height: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #252424;
  box-shadow: 0 3px 5px 2px #000;
}
#section .top a {
  height: 0.65rem;
  width: 2rem;
  line-height: 0.65rem;
  justify-content: center;
  align-items: center;
  display: flex;
  float: left;
}
#section .top a b {
  color: #ffffff;
  font-size: 16px;
  padding-right: 0.1rem;
}
#section .top a img {
  display: block;
  height: 0.35rem;
  width: 0.35rem;
}
#section .rota {
  transform: rotate(90deg);
}
#section .back {
  background: url(../image/yi1.png) no-repeat 0 0 / cover;
}
.index {
  height: 6.7rem;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.index .Bcx {
  height: 100%;
  width: 300%;
  transition: transform 0.5s;
}
.index .Bcx ul {
  width: 33.33333%;
  height: 100%;
  background: #1B1A1A;
  float: left;
}
.index .Bcx ul li {
  height: 2rem;
  width: 25%;
  float: left;
  box-sizing: border-box;
  margin-top: 0.15rem;
}
.index .Bcx ul li a {
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  margin: 0 auto;
  margin-top: 0.2rem;
}
.index .Bcx ul li a img {
  display: block;
  height: 100%;
}
.index .Bcx ul li span {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-top: 0.1rem;
  color: #fff;
}
.gao {
  height: 0.15rem;
  width: 100%;
}
.gao img {
  display: block;
  width: 100%;
}
#gaoboX {
  height: 1.4rem;
  width: 100%;
  margin-top: 0.1rem;
}
#gaoboX a {
  display: block;
  height: 100%;
  width: 7.1rem;
  margin: 0 auto;
  border-radius: 0.1rem;
}
#gaoboX a img {
  display: block;
  width: 100%;
}
#list {
  font-size: 14px;
  width: 100%;
  height: 7rem;
  margin-top: 0.1rem;
}
#list ul {
  height: 100%;
  width: 7.1rem;
  margin: 0 auto;
}
#list ul li {
  height: 1.3rem;
  width: 100%;
  background: #ffffff;
  border-radius: 0.13rem;
  margin-top: 0.05rem;
}
#list ul li #Img {
  height: 100%;
  width: 1.3rem;
  float: left;
  display: block;
}
#list ul li #Img img {
  height: 100%;
}
#list ul li .right {
  height: 100%;
  width: 5.8rem;
  float: left;
}
#list ul li .right .top {
  height: 1rem;
  width: 100%;
  border-bottom: 1px dashed #B8AE99;
}
#list ul li .right .top a {
  display: block;
  height: 100%;
  width: 3.8rem;
  float: left;
  color: #000;
  margin-left: 0.2rem;
}
#list ul li .right .top a span {
  display: block;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: #605F5F;
  margin-top: -0.04rem;
}
#list ul li .right .top a b {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0.15rem;
}
#list ul li .right .top #yuan {
  float: right;
  /*width: 1.5rem;*/
  height: 100%;
}
#list ul li .right .top #yuan span {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 12px;
  line-height: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0.05rem;
}
#list ul li .right .top #yuan span b {
  font-size: 18px;
  color: red;
}
#list ul li .right .bottom {
  height: 0.4rem;
  width: 100%;
}
#list ul li .right .bottom .le {
  float: left;
  width: 70%;
  margin-left: 0.2rem;
}
#list ul li .right .bottom .le a {
  display: block;
  float: left;
  height: 0.3rem;
  /*line-height: 0.4rem;*/
  margin-left: 0.1rem;
  color: #B7B7B7;
}
#list ul li .right .bottom .le a span {
  display: block;
  float: right;
  margin-top: -0.1em;
  margin-left: 0.1rem;
  font-size: 12px;
}
#list ul li .right .bottom .le a img {
  height: 100%;
  display: block;
  float: left;
}
#list ul li .right .bottom > a {
  display: block;
  float: right;
  height: 0.3rem;
  width: 0.3rem;
  margin-right: 0.2rem;
}
#list ul li .right .bottom > a img {
  height: 100%;
}
